@media (max-width:767px) {
    .center {
        padding-left: calc(50% - 384px/2);
        padding-right: calc(50% - 384px/2);
    }
    .hero-page__img {
        top: 64px;
        left: 94px;
        width: 21px;
        height: 21px;
    }
    .hero-page__img2 {
        top: 97px;
        left: 37px;
        width: 35px;
        height: 35px;
    }
    .hero-page__img3 {
        top: -104px;
        right: -100px;
        height: 238.57px;
        width: 223.52px;
    }
    .hero-page__img4 {
        display: none;
    }
    .hero-page__img5 {
        display: none;
    }
    .hero-page__img6 {
        display: none;
    }
    .hero-page__img7 {
        display: none;
    }
    .hero-page__img8 {
        display: none;
    }
    .hero-page__img9 {
       width: 18px;
       height: 18px;
       top: 520px;  
       left: 272px;
    }
    .hero-page__img10 {
        width: 39px;
        height: 41px;
        top: 530px;  
        left: 303px;
    }
    .hero-page {
        height: 700px;
    }
    .header {
        padding-top: 147px;
    }
    .header-title {
        width: 262px;
        height: 196px;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: rgba(32, 32, 39, 1);
        font-family: "Montserrat";
        font-size: 40px;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: 0px;
        text-align: center;
        padding-left: 57px;
    }
    .header-subtitle {
        height: 60px;
        flex-direction: row;
        align-items: center;
        color: rgba(32, 32, 39, 1);
        font-family: "Montserrat";
        font-size: 16px;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 0px;
        text-align: center;
        padding-left: 24px;
        white-space: revert;
    }
    .header-button {
        margin-left: 46px;
        margin-top: 36px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        gap: 10;
        padding: 16px 28px 16px 28px;
        box-sizing: border-box;
        border: 1px solid rgba(32, 32, 39, 1);
        border-radius: 60px;
        background: rgba(32, 32, 39, 1);
        color: rgba(255, 255, 255, 1);
        font-family: "Montserrat";
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0%;
        text-align: center;
        width: 285px;
        height: 55px;
    }
    .header-button:hover {
        box-sizing: border-box;
        border: 1px solid rgba(0, 0, 0, 1);
        border-radius: 60px;
        color: rgba(0, 0, 0, 1);
        font-family: "Montserrat";
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0%;
        text-align: center;
        background-color: white;
        width: 285px;
        height: 55px;
}
    .strip {
        margin-top:  151px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 6;
        padding: 16px 24px 16px 24px
        
    }
    .strip-star {
        width: 19.34px;
        height: 19.34px; 
    }
    .strip-text {
        height: 18px;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: rgba(32, 32, 39, 1);
        font-family: "Montserrat";
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 4%;
        text-align: left;
        text-transform: uppercase;

    }
    .content {
        display: none;
    }
    .mini-igri {
        padding-bottom: 48.88px;
    }
    .mini-igri__title {
        flex-direction: row;
        align-items: center;
        width: 250px;
        height: 49px;
        display: flex;
        color: rgba(255, 255, 255, 1);
        font-family: "Montserrat";
        font-size: 40px;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: 0px;
        text-align: left;
        margin-left: 16px;
    }
    .mini-igri__igra1 {
       height: 100%;
       width: 343px;
       margin-left: 16px;
       margin-top: 48px;
       display: flex;
       flex-direction: column;
       justify-content: flex-start;
       align-items: flex-start;
    }
    .mini-igri__img {
        width: 343px;
        border-radius: 30px;
        height: 284.93px;
    }
    .mini-igri__name {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        color: rgba(32, 32, 39, 1);
        font-family: "Montserrat";
        font-size: 32px;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: 0px;
        text-align: left;
       
    }
    .mini-igri__igra2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 343px;
        margin-left: 16px;
        height: 100%;
        border-radius: 30px;
    }
    .mini-igri__igra {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 343px;
        margin-left: 16px;
        border-radius: 30px;
        height: 100%;
    }
    .mini-igri__igra3 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 343px;
        margin-left: 16px;
        border-radius: 30px;
        height: 100%;
    }
    .mini-igri__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 29px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .mini-igri__infor {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: rgba(0, 0, 0, 1);
        font-family: "Montserrat";
        font-size: 16px;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 0px;
        text-align: left;
        padding-top: 6px;
        white-space: normal;
        
    }
    .mini-igri__button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10;
        padding: 16px 28px 16px 28px;
        box-sizing: border-box;
        border: 1px solid rgba(32, 32, 39, 1);
        text-align: center;
        border-radius: 60px;
        background: rgba(32, 32, 39, 1);
        width: 285px;
        height: 55px;
        color: rgba(255, 255, 255, 1);
        font-family: "Montserrat";
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0%;
        margin-top: 22px;
    }
    .header-button:hover {
        box-sizing: border-box;
        border: 1px solid rgba(0, 0, 0, 1);
        border-radius: 60px;
        color: rgba(0, 0, 0, 1);
        font-family: "Montserrat";
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0%;
        text-align: center;
        background-color: white;

}
.mini-igri__star {
    display: none;
}
.mini-igri__star2 {
    display: none;
}
.mini-igri__star3 {
    display: none;
}
.mini-igri__star4 {
    display: none;
}

.footer { 
    height: 100px;
}
.footer-text {
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    display: grid;
    margin-top:  40px;
    align-content: space-between;

}

}