* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a,
input,
button {
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
  overflow: hidden;
}
.hero-page {
    background: rgba(225, 255, 143, 1);
    position: relative
}
.hero-page__img2 {
   position: absolute;
   top: 94px;
   left: 63px;
}
.hero-page__img {
    position: absolute;
    top: 69px;
    left: 156px;
}
.hero-page__img3 {
    position: absolute;
    top: -333px;
    right: -488px ;
    
}
.hero-page__img4 {
    position: absolute;
    top: -10px;
    right: 269px;
    
}
.hero-page__img5 {
    position: absolute;
    top: 254px;
    right: 231px;
}
.hero-page__img6 {
    position: absolute;
    top: 379px;
    right: 5px;
}
.hero-page__img8 {
    position: absolute;
    top: 468px;
    right: 113px;
}
.hero-page__img7 {
    position: absolute;
    top: 663px;
    right: 61px;
}
.hero-page__img9 {
    position: absolute;
    top: 538px;
    right: 455px;
}
.hero-page__img10 {
    position: absolute;
    top: 568px;
    right: 344px;
}
.header {
    padding-top: 194px;
}
.header-title {
    height: 156px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgba(32, 32, 39, 1);
    font-family: "Montserrat";
    font-size: 64px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: left;
    white-space: pre-line;
}
.header-subtitle {
    flex-direction: row;
    align-items: center;
    color: rgba(32, 32, 39, 1);
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: undefined;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    padding-top: 24px;
    white-space: pre-line;
}
.header-span {
font-weight: 600;
}

.header-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 16px 28px 16px 28px;
    box-sizing: border-box;
    border: 1px solid rgba(32, 32, 39, 1);
    border-radius: 60px;
    background: rgba(32, 32, 39, 1);
    color: rgba(255, 255, 255, 1);
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
    width: 247px;
    height: 66px;
    margin-top: 48px;
}
.header-button:hover {
  box-sizing: border-box;
border: 1px solid rgba(0, 0, 0, 1);
border-radius: 60px;
color: rgba(0, 0, 0, 1);
font-family: "Montserrat";
font-size: 24px;
font-weight: 600;
line-height: 29px;
letter-spacing: 0%;
text-align: center;
background-color: white;
}
.strip {
    display: flex;
    gap:51px;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    margin-top: 155px;
    margin-left: -300px;
    margin-right: -1500px;
    padding: 27px 49px 27px 49px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(50px);
    background: rgba(188, 236, 48, 1);
}
.strip-star {
    width: 36px;
    height: 36px;
}
.strip-text {
    display: flex;
flex-direction: row;
align-items: center;
color: rgba(32, 32, 39, 1);
font-family: "Montserrat";
font-size: 30px;
font-weight: 700;
line-height: 37px;
letter-spacing: 4%;
text-align: left;
text-transform: uppercase;

}
.content {
    background: rgba(32, 32, 39, 1);
    height: 1470px;
    position: relative;
    z-index: 0;
}
.content-title {
    padding-top: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgba(255, 255, 255, 1);
    font-family: "Montserrat";
    font-size: 64px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: left;
    width: 314px;
    height: 78px;
    padding-top: 94px;
}
.content-subtitle {
    height: 96px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgba(255, 255, 255, 1);
    font-family:"Montserrat";
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    padding-top: 24px;
    white-space: pre-line;

}
.content-star {
   position: absolute;
   top: 77px;
   right: -143px;
   z-index: 1;
}
.content-star2 {
    position: absolute;
    top: 770px;
    right: 1381px;
}
.content-star3 {
    position: absolute;
    top: 822px;
    right: 1341px;
}
.igra {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
}
.igra-mini {
    margin-top: 72px;
    border-radius: 30px;
    box-shadow: 0px 12.612295150756836px 42.251190185546875px -7.57px rgba(0, 0, 0, 0.13);
    background: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 378px;
    height: 473px;
    z-index: 3;
}
.igra-mini:hover {
   transform: scale(1.1);
}
.igra-mini2:hover {
   transform: scale(1.1);
}
.igra-mini3:hover {
   transform: scale(1.1);
}
.igra-mini4:hover {
   transform: scale(1.1);
}
.igra-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10;
    padding: 32px 32px 36px 32px;
    border-radius: 30px;
}
.igra-nomer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    color: rgba(32, 32, 39, 1);
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 16px 10px 16px;
    border-radius: 52.58px;
    background: rgba(247, 247, 247, 1);
}
.igra-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgba(32, 32, 39, 1);
    font-family: "Montserrat";
    font-size: 32px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 16px;
    white-space: pre-line;

}
.igra-mini2 {  
    margin-top: 72px;
    border-radius: 30px;
    box-shadow: 0px 12.612295150756836px 42.251190185546875px -7.57px rgba(0, 0, 0, 0.13);
    background: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 378px;
    height: 512px;
}
.igra-mini3 {  
    border-radius: 30px;
    box-shadow: 0px 12.612295150756836px 42.251190185546875px -7.57px rgba(0, 0, 0, 0.13);
    background: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 378px;
    height: 551px;
    margin-top: -32px;
}
.igra-mini4 {  
    border-radius: 30px;
    box-shadow: 0px 12.612295150756836px 42.251190185546875px -7.57px rgba(0, 0, 0, 0.13);
    background: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 378px;
    height: 512px;
   
}
.mini-igri {
    position: relative;
    background: rgba(32, 32, 39, 1);
    padding-bottom: 134px;
}
.mini-igri__star {
   position: absolute;
   top: 94px;
   right: 124px;
}
.mini-igri__star2 {
    position: absolute;
    top: 126px;
    right: 45px;
}
.mini-igri__star3 {
    position: absolute;
    top: 3366px;
    right: 52px;
}
.mini-igri__star4 {
    position: absolute;
    top: 3414px;
    right: 150px;
}
.mini-igri__title {
    color: rgba(255, 255, 255, 1);
    font-family: "Montserrat";
    font-size: 64px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: left;
    width: 400px;
    height: 78px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 56px;
}
.mini-igri__igra1 {
    margin-top:  72px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row-reverse;
    border-radius: 30px;
    box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
    background: rgba(255, 255, 255, 1);
}
.mini-igri__igra {
    margin-top:  32px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border-radius: 30px;
    box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
    background: rgba(255, 255, 255, 1);
}
.mini-igri__igra2 {
    margin-top:  32px;
    width: 1200px;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 30px;
    box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
    background: rgba(255, 255, 255, 1);
}
.mini-igri__igra3{
    margin-top: 32px;
    display: flex;
    align-items: flex-start;
    border-radius: 30px;
    box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
    background: rgb(255, 255, 255);
    justify-content: space-between;
    align-content: stretch;
    flex-direction: row-reverse;
}
.mini-igri__img {
    width: 600px;
    height: 500px;
}
.mini-igri__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    padding: 48px;
}
.mini-igri__name { 
   display: flex;
   flex-direction: row;
   align-items: center;
   color: rgba(32, 32, 39, 1);
   font-family: "Montserrat";
   font-size: 48px;
   font-weight: 700;
   line-height: 100%;
   letter-spacing: 0px;
   text-align: left;
   white-space: pre-line;
}
.mini-igri__infor {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgba(32, 32, 39, 1);
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    padding-top:  24px;
    white-space: pre-line;
}
.mini-igri__button {
    display: flex;
    color: rgba(255, 255, 255, 1);
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 16px 28px 16px 28px;
    border-radius: 60px;
    background: rgba(32, 32, 39, 1);
    margin-top:  36px;
    width: 247px;
}
.footer {
   background: rgba(189, 237, 53, 1);
   overflow: hidden;
}
.footer-text {
    color: rgba(0, 0, 0, 1);
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 150px;
    width: 100%;
    justify-content: space-around

}

@import "tablet";
@import "mobile";