* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a,
input,
button {
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
  overflow: hidden;
}

.hero-page {
  background: rgb(225, 255, 143);
  position: relative;
}

.hero-page__img2 {
  position: absolute;
  top: 94px;
  left: 63px;
}

.hero-page__img {
  position: absolute;
  top: 69px;
  left: 156px;
}

.hero-page__img3 {
  position: absolute;
  top: -333px;
  right: -488px;
}

.hero-page__img4 {
  position: absolute;
  top: -10px;
  right: 269px;
}

.hero-page__img5 {
  position: absolute;
  top: 254px;
  right: 231px;
}

.hero-page__img6 {
  position: absolute;
  top: 379px;
  right: 5px;
}

.hero-page__img8 {
  position: absolute;
  top: 468px;
  right: 113px;
}

.hero-page__img7 {
  position: absolute;
  top: 663px;
  right: 61px;
}

.hero-page__img9 {
  position: absolute;
  top: 538px;
  right: 455px;
}

.hero-page__img10 {
  position: absolute;
  top: 568px;
  right: 344px;
}

.header {
  padding-top: 194px;
}

.header-title {
  height: 156px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(32, 32, 39);
  font-family: "Montserrat";
  font-size: 64px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: left;
  white-space: pre-line;
}

.header-subtitle {
  flex-direction: row;
  align-items: center;
  color: rgb(32, 32, 39);
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: undefined;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  padding-top: 24px;
  white-space: pre-line;
}

.header-span {
  font-weight: 600;
}

.header-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10;
  padding: 16px 28px 16px 28px;
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: center;
  width: 247px;
  height: 66px;
  margin-top: 48px;
}

.header-button:hover {
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 60px;
  color: rgb(0, 0, 0);
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: center;
  background-color: white;
}

.strip {
  display: flex;
  gap: 51px;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  margin-top: 155px;
  margin-left: -300px;
  margin-right: -1500px;
  padding: 27px 49px 27px 49px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  background: rgb(188, 236, 48);
}

.strip-star {
  width: 36px;
  height: 36px;
}

.strip-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(32, 32, 39);
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 4%;
  text-align: left;
  text-transform: uppercase;
}

.content {
  background: rgb(32, 32, 39);
  height: 1470px;
  position: relative;
  z-index: 0;
}

.content-title {
  padding-top: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(255, 255, 255);
  font-family: "Montserrat";
  font-size: 64px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: left;
  width: 314px;
  height: 78px;
  padding-top: 94px;
}

.content-subtitle {
  height: 96px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(255, 255, 255);
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  padding-top: 24px;
  white-space: pre-line;
}

.content-star {
  position: absolute;
  top: 77px;
  right: -143px;
  z-index: 1;
}

.content-star2 {
  position: absolute;
  top: 770px;
  right: 1381px;
}

.content-star3 {
  position: absolute;
  top: 822px;
  right: 1341px;
}

.igra {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.igra-mini {
  margin-top: 72px;
  border-radius: 30px;
  box-shadow: 0px 12.6122951508px 42.2511901855px -7.57px rgba(0, 0, 0, 0.13);
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 378px;
  height: 473px;
  z-index: 3;
}

.igra-mini:hover {
  transform: scale(1.1);
}

.igra-mini2:hover {
  transform: scale(1.1);
}

.igra-mini3:hover {
  transform: scale(1.1);
}

.igra-mini4:hover {
  transform: scale(1.1);
}

.igra-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10;
  padding: 32px 32px 36px 32px;
  border-radius: 30px;
}

.igra-nomer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  color: rgb(32, 32, 39);
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 16px 10px 16px;
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
}

.igra-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(32, 32, 39);
  font-family: "Montserrat";
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 16px;
  white-space: pre-line;
}

.igra-mini2 {
  margin-top: 72px;
  border-radius: 30px;
  box-shadow: 0px 12.6122951508px 42.2511901855px -7.57px rgba(0, 0, 0, 0.13);
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 378px;
  height: 512px;
}

.igra-mini3 {
  border-radius: 30px;
  box-shadow: 0px 12.6122951508px 42.2511901855px -7.57px rgba(0, 0, 0, 0.13);
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 378px;
  height: 551px;
  margin-top: -32px;
}

.igra-mini4 {
  border-radius: 30px;
  box-shadow: 0px 12.6122951508px 42.2511901855px -7.57px rgba(0, 0, 0, 0.13);
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 378px;
  height: 512px;
}

.mini-igri {
  position: relative;
  background: rgb(32, 32, 39);
  padding-bottom: 134px;
}

.mini-igri__star {
  position: absolute;
  top: 94px;
  right: 124px;
}

.mini-igri__star2 {
  position: absolute;
  top: 126px;
  right: 45px;
}

.mini-igri__star3 {
  position: absolute;
  top: 3366px;
  right: 52px;
}

.mini-igri__star4 {
  position: absolute;
  top: 3414px;
  right: 150px;
}

.mini-igri__title {
  color: rgb(255, 255, 255);
  font-family: "Montserrat";
  font-size: 64px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: left;
  width: 400px;
  height: 78px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 56px;
}

.mini-igri__igra1 {
  margin-top: 72px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row-reverse;
  border-radius: 30px;
  box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
  background: rgb(255, 255, 255);
}

.mini-igri__igra {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
  flex-direction: row-reverse;
  border-radius: 30px;
  box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
  background: rgb(255, 255, 255);
}

.mini-igri__igra2 {
  margin-top: 32px;
  width: 1200px;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 30px;
  box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
  background: rgb(255, 255, 255);
}

.mini-igri__img {
  width: 600px;
  height: 500px;
}

.mini-igri__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 48px;
}

.mini-igri__name {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(32, 32, 39);
  font-family: "Montserrat";
  font-size: 48px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: left;
  white-space: pre-line;
}

.mini-igri__infor {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(32, 32, 39);
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  padding-top: 24px;
  white-space: pre-line;
}

.mini-igri__button {
  display: flex;
  color: rgb(255, 255, 255);
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10;
  padding: 16px 28px 16px 28px;
  border-radius: 60px;
  background: rgb(32, 32, 39);
  margin-top: 36px;
  width: 247px;
}

.footer {
  background: rgb(189, 237, 53);
  overflow: hidden;
}

.footer-text {
  color: rgb(0, 0, 0);
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 150px;
  width: 100%;
  justify-content: space-around;
}

@media (max-width: 1200px) {
  .center {
    padding-left: calc(50% - 329px);
    padding-right: calc(50% - 329px);
  }
  .header {
    padding-top: 170px;
  }
  .header-title {
    padding-left: 64px;
    font-size: 49px;
    white-space: normal;
  }
  .header-subtitle {
    padding-left: 64px;
    font-size: 22px;
    padding-top: 5px;
    white-space: normal;
  }
  .header-button {
    margin-top: 42px;
    margin-left: 64px;
    font-size: 20px;
    width: 220px;
    height: 56px;
  }
  .hero-page__img3 {
    top: -270px;
    right: -270px;
    width: 600px;
  }
  .hero-page__img4 {
    display: none;
  }
  .hero-page__img5 {
    display: none;
  }
  .hero-page__img6 {
    display: none;
  }
  .hero-page__img8 {
    display: none;
  }
  .hero-page__img9 {
    left: 570px;
    top: 460px;
  }
  .hero-page__img10 {
    top: 470px;
    left: 650px;
  }
  .strip {
    margin-top: 80px;
    padding: 20px 30px 20px 30px;
  }
  .strip-star {
    width: 30px;
    height: 30px;
  }
  .strip-text {
    font-size: 24px;
  }
  .content {
    height: 100%;
  }
  .content-title {
    font-size: 49px;
    padding-top: 55px;
  }
  .content-subtitle {
    padding-top: 10px;
    font-size: 22px;
    font-weight: 350;
  }
  .content-star {
    display: none;
  }
  .content-star2 {
    display: none;
  }
  .content-star3 {
    display: none;
  }
  .igra {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 18px;
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 30px;
  }
  .igra-mini {
    width: 320px;
    height: 450px;
    margin-top: -1px;
  }
  .igra-mini2 {
    width: 320px;
    height: 450px;
  }
  .igra-mini3 {
    width: 320px;
    height: 450px;
    margin-top: 10px;
  }
  .igra-mini4 {
    width: 320px;
    height: 450px;
  }
  .igra-mini__img {
    width: 320px;
  }
  .igra-mini2__img {
    width: 320px;
  }
  .igra-mini3__img {
    width: 320px;
  }
  .igra-mini4__img {
    width: 320px;
  }
  .igra-name {
    font-size: 24px;
    font-weight: 600;
  }
  .mini-igri {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .mini-igri__star {
    display: none;
  }
  .mini-igri__star2 {
    display: none;
  }
  .mini-igri__title {
    font-size: 49px;
  }
  .mini-igri__img {
    width: 320px;
    border-radius: 30px;
    height: 284.93px;
  }
  .mini-igri__name {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: rgb(32, 32, 39);
    font-family: "Montserrat";
    font-size: 32px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: left;
  }
  .mini-igri__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 29px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .mini-igri__igra1 {
    margin-top: 28px;
    width: 663px;
  }
  .mini-igri__igra {
    width: 663px;
  }
  .mini-igri__igra2 {
    width: 663px;
    height: 286px;
  }
  .mini-igri__infor {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: left;
    padding-top: 6px;
    white-space: normal;
  }
  .mini-igri__content {
    padding: 20px;
  }
  .mini-igri__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 16px 28px 16px 28px;
    box-sizing: border-box;
    border: 1px solid rgb(32, 32, 39);
    text-align: center;
    border-radius: 60px;
    background: rgb(32, 32, 39);
    width: 285px;
    height: 55px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0%;
    margin-top: 22px;
  }
  .header-button:hover {
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: white;
    font-size: 20px;
    width: 220px;
    height: 56px;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: calc(50% - 192px);
    padding-right: calc(50% - 192px);
  }
  .hero-page__img {
    top: 64px;
    left: 94px;
    width: 21px;
    height: 21px;
  }
  .hero-page__img2 {
    top: 97px;
    left: 37px;
    width: 35px;
    height: 35px;
  }
  .hero-page__img3 {
    top: -104px;
    right: -100px;
    height: 238.57px;
    width: 223.52px;
  }
  .hero-page__img4 {
    display: none;
  }
  .hero-page__img5 {
    display: none;
  }
  .hero-page__img6 {
    display: none;
  }
  .hero-page__img7 {
    display: none;
  }
  .hero-page__img8 {
    display: none;
  }
  .hero-page__img9 {
    width: 18px;
    height: 18px;
    top: 520px;
    left: 272px;
  }
  .hero-page__img10 {
    width: 39px;
    height: 41px;
    top: 530px;
    left: 303px;
  }
  .header {
    padding-top: 147px;
  }
  .header-title {
    width: 262px;
    height: 196px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(32, 32, 39);
    font-family: "Montserrat";
    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    padding-left: 57px;
  }
  .header-subtitle {
    height: 60px;
    flex-direction: row;
    align-items: center;
    color: rgb(32, 32, 39);
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    padding-left: 24px;
    white-space: revert;
  }
  .header-button {
    margin-left: 46px;
    margin-top: 36px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 10;
    padding: 16px 28px 16px 28px;
    box-sizing: border-box;
    border: 1px solid rgb(32, 32, 39);
    border-radius: 60px;
    background: rgb(32, 32, 39);
    color: rgb(255, 255, 255);
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    width: 285px;
    height: 55px;
  }
  .header-button:hover {
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 60px;
    color: rgb(0, 0, 0);
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    background-color: white;
    width: 285px;
    height: 55px;
  }
  .strip {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 6;
    padding: 16px 24px 16px 24px;
  }
  .strip-star {
    width: 19.34px;
    height: 19.34px;
  }
  .strip-text {
    height: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(32, 32, 39);
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 4%;
    text-align: left;
    text-transform: uppercase;
  }
  .content {
    display: none;
  }
  .mini-igri {
    padding-bottom: 49px;
  }
  .mini-igri__title {
    flex-direction: row;
    align-items: center;
    width: 250px;
    height: 49px;
    display: flex;
    color: rgb(255, 255, 255);
    font-family: "Montserrat";
    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: left;
    margin-left: 16px;
  }
  .mini-igri__igra1 {
    height: 100%;
    width: 343px;
    margin-left: 16px;
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .mini-igri__img {
    width: 343px;
    border-radius: 30px;
    height: 284.93px;
  }
  .mini-igri__name {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: rgb(32, 32, 39);
    font-family: "Montserrat";
    font-size: 32px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: left;
  }
  .mini-igri__igra2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 343px;
    margin-left: 16px;
    height: 100%;
    border-radius: 30px;
  }
  .mini-igri__igra {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 343px;
    margin-left: 16px;
    border-radius: 30px;
    height: 100%;
  }
  .mini-igri__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 29px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .mini-igri__infor {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(0, 0, 0);
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: left;
    padding-top: 6px;
    white-space: normal;
  }
  .mini-igri__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 16px 28px 16px 28px;
    box-sizing: border-box;
    border: 1px solid rgb(32, 32, 39);
    text-align: center;
    border-radius: 60px;
    background: rgb(32, 32, 39);
    width: 285px;
    height: 55px;
    color: rgb(255, 255, 255);
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0%;
    margin-top: 22px;
  }
  .header-button:hover {
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 60px;
    color: rgb(0, 0, 0);
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    background-color: white;
  }
  .mini-igri__star {
    display: none;
  }
  .mini-igri__star2 {
    display: none;
  }
  .mini-igri__star3 {
    display: none;
  }
  .mini-igri__star4 {
    display: none;
  }
  .footer {
    height: 100px;
  }
  .footer-text {
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    display: grid;
    margin-top: 40px;
    align-content: space-between;
  }
}/*# sourceMappingURL=style.css.map */